.section1 {
  position: relative;
}

.section1 img {
  width: 100%;
  height: 980px;
  object-fit: cover;
}

.section1-title {
  position: absolute;
  top: 200px;
  left: 3rem;
}

.section1-title p {
  color: white;
  font-size: 4rem;
  margin: 2rem 0;
}

@media (max-width: 980px) {
  .section1-title p {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
